#foto {
    height: 100%;
    width: 100%;
}


div {
    align-items: center;
    justify-content: center;
    display: flex;
}

#meu-botao {
    width: 150px;
    height: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
}

main {
    display: flex;
}

.texto {
    width: 45%;
    padding: 10px;
    margin-right: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}

ul li {
    width: 100%;
    margin-bottom: 0%;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(5, 0, 27);
    color: white;
}

li:hover {
    background-color: darkgoldenrod;
}